.checkboxes{
	width: 13%;
	font-size: .8em,;
	white-space: pre-wrap;
	margin: 2px 5px;
}

.tooltip .tooltip-inner {
  max-width: 600px;
  white-space: normal;
}
@media(max-width: 775px) {
	.checkboxes{
		width: 25%;
	}
}
